{% extends '::base.html.twig' %}
{% block title %}{{entity.title}}{% endblock %}

{% block body %}
<div class="span9">
    <h2>{{entity.title}}</h2>
    <div class="row">
        <div class="span6">
            <p>{{entity.content}}</p>
            <table>
                <tr>
                    <td><strong>Category</strong> &nbsp;&nbsp;&nbsp; </td><td>
                        <a href="{{path('category',{'id' : entity.category.id})}}">{{entity.category.name}}</a>
                    </td>
                </tr>
                {% if entity.tags | length > 0 %}
                <tr>
                    <td><strong>Tags</strong> &nbsp;&nbsp;&nbsp; </td><td>
                        {% for tag in entity.tags %}
                            <a href="{{path('tags',{'id' : tag.id})}}">{{tag.name}}</a>
                        {% endfor %}    
                        </td>
                    </tr>
                {% endif %}
                </table>
            </div>
        {% if entity.image %}
            <div class="span3">
                <img src="{{entity.getWebPath()}}" alt="">
            </div>
        {% endif %}    
        </div>


        <!-- post comments -->
        <div id="commentsDiv">
        {% for comment in postComments %}
                <hr class="bs-docs-separator">
                <h3>{{comment.createdAt|date('d/m/Y h:i A')}}</h3>
                <p>{{comment.comment}}</p>
        {% endfor %}
            </div>

            <hr class="bs-docs-separator">
            <h2>Add Comment</h2>
            <form class="form-horizontal">
                <div class="control-group">
                    <div class="controls postComment">
                        <textarea rows="5" class="input-block-level" id="commentText"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls postComment">
                        <button type="submit" class="btn" id="commentButton">Add</button>
                        <img src="{{asset('img/ajax-loader.gif')}}" id="commentLoader" style="display: none;"/>
                    </div>
                </div>
            </form>
        </div>
{% endblock %}


{% block javascripts %}
{{parent()}}
        <script>
            var addCommentUrl = "{{path('add_post_comment')}}/{{entity.id}}";
            </script>    
            <script src="{{asset('bundles/itiblog/js/post.js') }}"></script>
{% endblock %}
